<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" http-equiv="ScreenOrientation" />

<title>Entrainement</title>
    <link type="text/css" rel="stylesheet" href="../css/root.css"/>
    <link type="text/css" rel="stylesheet" href="../css/roboto.css"/>
    <link type="text/css" rel="stylesheet" href="../css/numPad.css"/>
    <link type="text/css" rel="stylesheet" href="../css/serie.css"/>
    <link type="text/css" rel="stylesheet" href="../css/chrono.css"/>
    <link type="text/css" rel="stylesheet" href="../css/footer.css"/>
    <link type="text/css" rel="stylesheet" href="../css/nextSerie.css"/>
    <link type="text/css" rel="stylesheet" href="../css/list.css"/>
    <link type="text/css" rel="stylesheet" href="../css/modif.css"/>
    <link type="text/css" rel="stylesheet" href="../css/hamburger.css"/>
    <link type="text/css" rel="stylesheet" href="../css/buttons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/dialog.css"/>
</head>
<body>  

    


    <section id="hamburger">
        <div class="home-header__hamburger" onclick="showHamburger()">
            <svg  viewBox="0 0 448 512" class="hamburgerBars"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg>
        </div>
        <div class="hamburgerContainer">
            <div class="closeHamburger" onclick="closeHamburger()">
                <svg viewBox="0 0 352 512" class="hamburgerBars"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/variables.js"></script>
    <script src="../js/utilities.js"></script>  
    <script src="../js/routerExercise.js"></script>
    <script src="../js/routerWorkout.js"></script>
    <script src="../js/models.js"></script>
    <script src="../js/init.js"></script>
    <script src="../js/template.js"></script>
    <script src="../js/list.js"></script>
    <script src="../js/modifPage.js"></script>
    <script src="../js/translation.js"></script>
    <script src="../js/buttons.js"></script>
    <script src="../js/viewManager.js"></script>
    <script src="../js/eventHandler.js"></script>
    <script src="../js/exercise.js"></script>
    <script src="../js/hamburger.js"></script>
    <script src="../js/chrono.js"></script>
    <script src="../js/workout.js"></script>
    <script src="../js/set.js"></script>
    <script src="../js/nextSet.js"></script>
    <script src="../js/validator.js"></script>
    <script src="../js/numPad.js"></script>
 </body>
</html>
