.numPad {
  display: none;
  grid-template-rows: 80px auto 70px 50px auto;
  position: absolute;
  top: var(--focussedSerieHeight);
  height: calc(var(--vh) - var(--focussedSerieHeight));
  bottom: 0;
  width: 100vw;
}
.numPad__keyPad {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 1.5em;
}
.numPad__key {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 2px;
  background: var(--alice);
  margin: 2px;
  border-radius: 5px;
}

.workoutList {
  background: var(--alice);
}

.enter {
  background: var(--alice);
}

.numPad__closePad {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.numPad__header {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: aliceblue;
}

.numPad__header div {
  line-height: 1;
  padding: 2px 0;
}

.numPad__nextExercise {
  display: flex;
  align-items: center;
  background: aliceblue;
  font-size: 0.8em;
  line-height: 1;
}

.numPad__nextExercise__name {
  width: 50%;
  text-align: right;
  padding-right: 5px;
}

.numPad__nextExercise__weight {
  width: 50%;
  font-weight: bold;
  white-space: nowrap;
}
